#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  width: 1120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
}

#photos {}

#description {
  width: 655px;
}
