#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  width: 1120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
}

#photos {
  height: 480px;
  overflow: hidden;
}

#description {
  width: 655px;
}
